*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
}

header{
    background-color: rgb(25, 74, 182);
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-name{
    color: white;
    margin-left: 20px;
    font-size: 25px;
    font-weight: 800;
}